nav {
  background-color: #fff;
  width: 100%;
  height: auto;
  border-radius: 0px !important;
}

nav .navbar-nav a {
  color: #1f2278;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 5px;
  font-size: 16px;
  transition: 0.3s ease all;
}
nav .navbar-nav {
  margin-top: 12px;
}

nav .navbar-nav a:focus {
  color: var(--orange-color);
}
nav .navbar-nav .active {
  color: var(--orange-color) !important;
}

nav .navbar-nav button {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  width: 200px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: -10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease all;
}
nav .navbar-nav button span {
  background-color: #fff;
  color: var(--btn-color);
  width: 40px;
  border-radius: 4px;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  margin-left: 15px;
}

.navbar-nav .dropdown-menu a {
  color: #444;
  font-size: 14px;
  line-height: 30px !important;
  position: relative;
  transition: 0.3s ease all;
}
/* .navbar-nav .dropdown-menu;
li::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  height: 4px;
  background-color: var(--main-color);
  color: var(--main-color);
} */

/* .navbar-nav .dropdown-menu {
  position: static;
  background-color: #fff;
  border: 1px solid#fff;
  border-right: 0px;
  width: 200px;
  opacity: 0;
} */

nav .navbar-nav a:hover {
  color: var(--orange-color);
}

.navbar-nav .dropdown-menu a:hover {
  color: var(--btn-color);
}
.navbar-nav button:hover {
  background-color: rgb(66, 66, 175);
  border: 1px solid rgb(66, 66, 175);
}

@media only screen and (max-width: 992px) {
  nav .navbar-nav .dropdown-menu {
    width: 100% !important;
  }
  nav .navbar-nav button {
    margin-top: 0;
  }
}
/* [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 0px;
} */

nav #basic-nav-dropdown:hover .dropdown-menu {
  opacity: 1 !important;
}

nav .navbar-nav svg .phome {
  text-align: center;
  margin-left: 10px;
  background-color: #f9f9f1;
  margin-right: 8px;
  background-color: #444;
}
